# Папки окружения и IDE
.env/
.idea/
.vscode/
.rasa/
__pycache__/
*.pyc
*.pyo

# Секретные данные
*.env
*.key

.data/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# Database
data/*.db
data/bot_data.db

# Logs
*.log